@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#content {
    font-family: 'Pacifico', cursive;
    color: white;
}


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 200px;
    justify-content: space-between;
    background-color: #3a4144;
    font-size: 35px;
    padding: 5px;
    text-shadow: 3px 2px 5px #20292ed8;
    box-shadow: 0px 0px 5px black;
}

#navIcon, .ghub {
    font-size: 50px;
    cursor: pointer;
    padding: 15px;
    transition: .1s;
    transition-timing-function: ease-out;
}

#navIcon:active {
    font-size: 45px;
    padding-left: 20px;
    transition: .05s;
}

.header i.ghub:hover {
    cursor: pointer;
    transition: .1s;
    transition-timing-function: ease-out;
}


.sideMenu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3a4144; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.15s; /* 0.5 second transition effect to slide in the sidenav */
}

#navHText {
    font-size: 30px;
    padding-left: 10px;
}

#navBack {
    font-size: 30px;
    padding-right: 25px;
    cursor: pointer;
}

#navBack:active {
    font-size: 25px;
    padding-right: 30px;
}

.sideHeader {
    transition: .15s;
    font-size: 20px;
    text-shadow: 3px 2px 5px #20292ed8;
    display: flex;
    font-family: 'Noto Sans', 'sans serif';
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);

}

