@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#content {
    font-family: 'Noto Sans', 'sans serif';
    color: white;
}

/* HEADER STUFF */

.header {
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 200px;
    justify-content: space-between;
    background-color: #3a4144;
    font-size: 35px;
    padding: 5px;
    text-shadow: 3px 2px 5px #20292ed8;
    box-shadow: 0px 0px 5px black;
}

#navIcon, .ghub {
    font-size: 50px;
    cursor: pointer;
    padding: 15px;
    transition: .1s;
    transition-timing-function: ease-out;
}

#navIcon:active {
    font-size: 45px;
    padding-left: 20px;
    transition: .05s;
}

.header i.ghub:hover {
    cursor: pointer;
    transition: .1s;
    transition-timing-function: ease-out;
}

/* NAV MENU STUFF */

.sMenuOverlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; /* Stay at the top */
    left: 0;
}

.sideMenu {
    font-family: 'Noto Sans', 'sans serif';
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3a4144; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.15s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navHText {
    font-size: 30px;
    padding-left: 10px;
}

#navBack {
    font-size: 30px;
    padding-right: 25px;
    cursor: pointer;
}

#navBack:active {
    font-size: 25px;
    padding-right: 30px;
}

.sideHeader {
    width: 100%;
    transition: .15s;
    font-size: 20px;
    text-shadow: 3px 2px 5px #20292ed8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);

}

.sideItem {
    margin: 5px;
    background-color: rgb(199, 97, 97);
    border-color: black;
    width: 90%;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.651);
    cursor: pointer;
    transition: .1s;
}

.sideItem:active{
    background-color: rgb(255, 255, 255);
    transition: .05s;
}

p.projectText {
    font-size: auto;
    justify-self: left;
}

.fa-square-pen {
    font-size: 25px;
    cursor: pointer;
    transition: .05s;
}

.fa-square-pen:hover {
    font-size: 26px;
    transition: .05s;
}

#projectAdd {
    background-color: rgba(114, 114, 114, 0);
}

#projectAdd:active{
    background-color: rgb(255, 255, 255);
    transition: .05s;
}

/* EDIT STUFF */

.pTextInput {
    font-size: 20px;
    padding-left: 5px;
    margin-left: 5px;
    border: 0px;
    outline: none;
    color: white;
    border-radius: 10px;
    max-width: 180px;
    justify-self: left;
    font-family: 'Noto Sans', 'sans serif';
    background-color: rgb(179, 75, 75);
}


